<script type="text/javascript">
    var championships = <%= raw  @championships %>;
</script>


<%= form_for(@league, :remote => true) do |f| %>
   <!-- <% if @league.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@league.errors.count, "error") %> prohibited this league from being saved:</h2>
      <ul>
      <% @league.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> -->

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => 'name form-control', :required => true %>
  </div>
  <div class="field">
    <%= f.label :score_correct %> <i title="The points users will gain when they make a correct prediction on a matches result" data-toggle="tooltip" data-placement="right" class="glyphicon glyphicon-question-sign score_correct_helper"></i><br>
    <%= f.number_field :score_correct, :class => 'name form-control', :oninvalid => 'setCustomValidity(Please enter a number)', :pattern => '\d+', :required => true %>
  </div>
  <div class="field">
      <%= f.label :score_difference %> <i title="The points users will gain when they make a correct prediction on a matches goal difference" data-toggle="tooltip" data-placement="right" class="glyphicon glyphicon-question-sign score_correct_helper"></i><br>
      <%= f.number_field :score_difference, :class => 'name form-control', :required => true, :pattern => "\d+" %>
  </div>
  <div class="field">
    <%= f.label :score_prediction %> <i title="The points users will gain when they make a correct prediction on the winner of a match" data-toggle="tooltip" data-placement="right" class="glyphicon glyphicon-question-sign score_correct_helper"></i><br>
    <%= f.number_field :score_prediction, :class => 'name form-control', :required => true, :pattern => "\d+" %>
  </div>
    <div id="friends-container" class="field">
        <%= f.hidden_field :users %>
        <div>
            <label for="friends">Friends</label>
        </div>
        <input id="friends" class="form-control" onkeypress="return returnHandlerFriend(event)" type="email"/>
        <span id="friends_added"></span><br>
        <button type="button" onclick="addFriend(this)" class="add_friend btn">Add</button>
    </div>
    <div id="championship-container" class="field">
        <%= f.hidden_field :championships %>
        <div>
            <label for="championship">Championships</label>
        </div>
        <input id="championship" class="form-control" onkeypress="return returnHandlerChampionship(event)" type="text"/>
        <span id="championships_added"></span><br>
        <button type="button" onclick="addChampionship(this)" class="add_championship btn">Add</button>
    </div>
    <div class="actions">
        <%= f.submit 'Create New League', :class => 'button-sub btn btn-send'%>
    </div>
    <script>
        var friends_added = [];
    </script>
<% end %>