<% if user_signed_in? && @user_leagues %>
    <li>
      <%= link_to raw(("<i class='glyphicon glyphicon-certificate'></i>")+" New League"), new_league_path%>
    </li>
    <% @user_leagues.each do |league| %>
        <li class="sub-menu" id="<%= "league" + league.id.to_s %>">
          <a href="javascript:;">
            <i class="glyphicon glyphicon-flag"></i>
            <span><%= league.name %></span>
          </a>
          <ul class="sub">
            <li ><%= link_to raw(("<i class='glyphicon glyphicon-align-justify'></i>")+" Leader Board"), league_scoreboard_path(league.id)%></li>
            <li ><%= link_to raw(("<i class='glyphicon glyphicon-record'></i>")+" Games"), league_games_path(league.id)%></li>
            <li ><%= link_to raw(("<i class='glyphicon glyphicon-time'></i>")+" My Bets"), league_mybets_path(league.id)%></li>
            <% if league.owner_id == current_user.id %>
          <li ><%= link_to raw(("<i class='glyphicon glyphicon-cog'></i>")+" Admin"), league_path(league.id)%></li>
            <% end %>
          </ul>
        </li>
    <% end %>
<% end %>