<!-- Default content - hidden for prototype -->

<% if false %>
<h1>Listing leagues</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Score correct</th>
      <th>Score difference</th>
      <th>Score prediction</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leagues.each do |league| %>
      <tr>
        <td><%= league.name %></td>
        <td><%= league.score_correct %></td>
        <td><%= league.score_difference %></td>
        <td><%= league.score_prediction %></td>
        <td><%= league.user %></td>
        <td><%= link_to 'Show', league %></td>
        <td><%= link_to 'Edit', edit_league_path(league) %></td>
        <td><%= link_to 'Destroy', league, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New League', new_league_path %>
<% end %>

<% @leagues.each do |league| %>

  <h1>League <%= league.name %></h1>

  <% league.championships.each do |championship| %>

    <h2 class="championship" id=<%= championship.id %> >Championship <%= championship.name %></h2>

    <table class="table">
    <% championship.games.order("time desc").each do |game| %>
      <tr id=<%= game.id %>>
        <td><%= game.team1_name %></td>
        <% if game.time > DateTime.parse("2014-08-23 11:45:00 UTC") %>
            <% if league.bets.where("game_id = " + game.id.to_s) %>
                <td><input class="first_goals" type="text"  size="1" name="firstGoals" value=<%= game></td> <td>:</td> <td><input class="second_goals" size="1" type="text" name="secondGoals">
                <button class="bet_submit_new">Edit bet</button></td>
            <% else %>
                <td><input class="first_goals" type="text"  size="1" name="firstGoals"></td> <td>:</td> <td><input class="second_goals" size="1" type="text" name="secondGoals">
                <button class="bet_submit_new">Submit Bet</button></td>
            <% end %>
        <% else %>
            <td><%= game.team1_goals %></td> <td>:</td> <td><%= game.team2_goals %></td>
        <% end %>
        <td><%= game.team2_name %></td>
        <td><%= game.time %></td>
        <td>
        <% if game.time < DateTime.parse("2014-08-23 11:45:00 UTC") %>
          <button type="button" class="beth btn btn-link" data-container="body" data-toggle="popover" data-placement="left"
            data-html="true" data-content= "
              <table class='table bets_history'>
              <% game.bets.where(league_id: league.id).each do |bet| %>
               <tr>
                 <td><%= bet.user.email %></td>
                 <td><%= bet.team1_goals %> : <%= bet.team2_goals %></td>
                 <td><%= bet.score %></td>
               </tr>
              <% end %>
              </table>
            ">
              Bets History
          </button>
        <% end %>
        </td>
      </tr>
    <% end %>
    </table>

  <% end %>


<% end %>
