
<%if user_signed_in? %>
    <!-- **********************************************************************************************************************************************************
          MAIN CONTENT
          *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <h3><i class="fa fa-angle-right"></i> Welcome, <%= current_user.email%></h3>
    <div class="row mt">
      <div class="col-lg-12">

        <div class="row">
        <% @user_leagues.each do |league| %>

              <!-- WEATHER-3 PANEL -->
              <a href="<%= league_scoreboard_path(league.id) %>">
              <div class="col-lg-4 col-md-4 col-sm-4 mb">
                <div class="weather-3 pn centered" style="background-color: #4cae4c">
                  <i class="fa fa-chevron-circle-up"></i>
                  <h1>1st place</h1>
                  <div class="info">
                    <div class="row">
                      <h3 class="centered"><%= league.name %></h3>
                      <div class="col-sm-6 col-xs-6 pull-left">
                        <p class="goleft"><i class="fa fa-hospital-o"></i> 10 points</p>
                      </div>
                      <div class="col-sm-6 col-xs-6 pull-right">
                        <p class="goright"><i class="fa fa-globe"></i> <%= league.championships.first.name %></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div><! --/col-md-4 -->
              </a>

               <!-- IF DOWN -->
              <!-- WEATHER-3 PANEL -->
              <a href="<%= league_scoreboard_path(league.id) %>">
              <div class="col-lg-4 col-md-4 col-sm-4 mb">
                <div class="weather-3 pn centered">
                  <i class="fa fa-chevron-circle-down"></i>
                  <h1>2nd place</h1>
                  <div class="info">
                    <div class="row">
                      <h3 class="centered"><%= league.name %></h3>
                      <div class="col-sm-6 col-xs-6 pull-left">
                        <p class="goleft"><i class="fa fa-hospital-o"></i> 10 points</p>
                      </div>
                      <div class="col-sm-6 col-xs-6 pull-right">
                        <p class="goright"><i class="fa fa-globe"></i> <%= league.championships.first.name %></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div><! --/col-md-4 -->
              </a>
        <% end %>

            </div><!-- /row - FIRST ROW OF PANELS -->
            </div>
            </div>
        <%end%>