
<%if user_signed_in? %>
    <!-- **********************************************************************************************************************************************************
          MAIN CONTENT
          *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <h3><i class="fa fa-angle-right"></i> Welcome, <%= current_user.email%></h3>
    <div class="row mt">
      <div class="col-lg-12">

        <div class="row">
        <% @user_leagues.each do |league| %>
              <% result = updown league %>
              <% if result[1] >= 0 %>
              <!-- WEATHER-3 PANEL -->
              <a href="<%= league_path(league.id) %>">
              <div class="col-lg-4 col-md-4 col-sm-4 mb">
                <div class="weather-3 pn centered" style="background-color: #4cae4c">
                  <i class="fa fa-chevron-circle-up"></i>
                  <h1><%= ActiveSupport::Inflector.ordinalize(result[0]+1)%> place</h1>
                  <div class="info">
                    <div class="row">
                      <h3 class="centered"><%= league.name %></h3>
                      <div class="col-sm-6 col-xs-6 pull-left">
                        <p class="goleft"><i class="fa fa-hospital-o"></i> <%=result[2]%> point(s)</p>
                      </div>
                      <div class="col-sm-6 col-xs-6 pull-right">
                        <p class="goright"><i class="glyphicon glyphicon-time"></i> Yesterday:<br/> <%= ActiveSupport::Inflector.ordinalize(result[3]+1)%> place</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div><! --/col-md-4 -->
              </a>
                <% else %>
               <!-- IF DOWN -->
              <!-- WEATHER-3 PANEL -->
              <a href="<%= league_path(league.id) %>">
              <div class="col-lg-4 col-md-4 col-sm-4 mb">
                <div class="weather-3 pn centered">
                  <i class="fa fa-chevron-circle-down"></i>
                  <h1><%= ActiveSupport::Inflector.ordinalize(result[0]+1)%> place</h1>
                  <div class="info">
                    <div class="row">
                      <h3 class="centered"><%= league.name %></h3>
                      <div class="col-sm-6 col-xs-6 pull-left">
                        <p class="goleft"><i class="fa fa-hospital-o"></i> <%=result[2]%> point(s)</p>
                      </div>
                      <div class="col-sm-6 col-xs-6 pull-right">
                        <p class="goright"><i class="glyphicon glyphicon-time"></i> Yesterday:<br/> <%= ActiveSupport::Inflector.ordinalize(result[3]+1)%> place</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div><! --/col-md-4 -->
              </a>
              <% end %>
        <% end %>

            </div><!-- /row - FIRST ROW OF PANELS -->
            </div>
            </div>
        <%end%>