<h1>Listing leagues</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Score correct</th>
      <th>Score difference</th>
      <th>Score prediction</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leagues.each do |league| %>
      <tr>
        <td><%= league.name %></td>
        <td><%= league.score_correct %></td>
        <td><%= league.score_difference %></td>
        <td><%= league.score_prediction %></td>
        <td><%= league.user %></td>
        <td><%= link_to 'Show', league %></td>
        <td><%= link_to 'Edit', edit_league_path(league) %></td>
        <td><%= link_to 'Destroy', league, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New League', new_league_path %>

<!-- Display leagues>championships>games for the bet history functionality -->

<% @leagues.each do |league| %>

  <h1>League <%= league.name %></h1>

  <% league.championships.each do |championship| %>

    <h2>Championship <%= championship.name %></h2>

    <table class="table">
    <% championship.games.order("time desc").each do |game| %>
      <tr id=<%= game.id %>>
        <td><%= game.team1_name %></td>
        <% if game.time < Time.now %>
            <td><input class="first_goals" type="text" name="firstGoals"> : <input class="second_goals" type="text" name="secondGoals"><button class="bet_submit">Submit Bet</button></td>
        <% else %>
            <td><%= game.team1_goals %> : <%= game.team2_goals %></td>
        <% end %>
        <td><%= game.team2_name %></td>
        <td><%= game.time %></td>

        <% if game.time < Time.now %>
          <td><button type="button" class="beth btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom"
            data-html="true" data-content= "
              <table class='table'>
              <% game.bets.where(:league_id => league.id).each do |bet| %>
               <tr>
                 <td><%= bet.user.email %></td>
                 <td><%= bet.team1_goals %> : <%= bet.team2_goals %></td>
                 <td><%= bet.score %></td>
               </tr>
              <% end %>
              </table>
            ">
              Bets History
          </button></td>
        <% end %>
      </tr>
    <% end %>
    </table>

  <% end %>


<% end %>
