<% content_for :leagues_c do %>
    <div class="row"></div>
    <div class="col-md-11 content-panel">
      <table class="table table-responsive table-bordered table-hover">
        <thead class="text-center">
        <tr>
          <th class="text-center vert-align">#</th>
          <th class="col-md-2 text-center vert-align">User</th>
          <th class="col-md-1 text-center vert-align"># Bets</th>
          <th class="col-md-2 text-center"># Correct result <br> (<%= @p1 %> points)</th>
          <th class="col-md-2 text-center"># Correct difference <br> (<%= @p2 %> points)</th>
          <th class="col-md-2 text-center"># Correct winner <br> (<%= @p3 %> points)</th>
          <th class="col-md-2 text-center"># Wrong <br> (0 points)</th>
          <th class="col-md-1 text-center vert-align">Total points</th>
        </tr>

        </thead>
        <tbody class="">
        <% @data.each_with_index do |value, k| %>
            <tr class="<%= value[0] == current_user.id ? "text-primary" : "" %>">
              <td><%= k + 1 %></td>
              <td><%= @users.find(value[0]).email %></td>
              <% value[1].each do |v| %>
                  <td class="text-center"><%= v[1] %> </td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

<% end %>