<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @league.name %>
</p>

<p>
  <strong>Score correct:</strong>
  <%= @league.score_correct %>
</p>

<p>
  <strong>Score difference:</strong>
  <%= @league.score_difference %>
</p>

<p>
  <strong>Score prediction:</strong>
  <%= @league.score_prediction %>
</p>

<p>
  <strong>User:</strong>
  <%= @league.user %>
</p>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
