<% if user_signed_in? %>
    <div class="nav notify-row" id="top_menu">
  <!--  notification start -->
  <ul class="nav top-menu">
    <!-- settings start PENDING -->
    <li class="dropdown">
      <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
        <i class="fa fa-clock-o"></i>
        <% if @games_notifications.count>0 %>
            <span class="badge bg-theme"><%=@games_notifications.count%></span>
        <% end %>
      </a>

      <ul class="dropdown-menu extended notification">
        <div class="notify-arrow notify-arrow-yellow"></div>
        <li>
          <p class="yellow">You have <%=pluralize(@games_notifications.count, "pending game")%> for the next days.</p>
        </li>

        <% @games_notifications.each do |notification| %>
            <li>
              <a href="<%= notification_path("games",notification.id)%>">
              <span class="small italic">in <%=time_ago_in_words notification.game.time%></span>
                <br/> Game:<br/><%= notification.game.team1_name%> <br/> vs <br/> <%=notification.game.team2_name %>
                <br/>
                League: <%= notification.league.name%>
              </a>
            </li>
        <% end %>
      </ul>
    </li>
    <!-- settings end -->
    <!-- inbox dropdown start INVITES-->
    <li id="header_inbox_bar" class="dropdown">
      <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
        <i class="fa fa-group"></i>
        <% if @invites_notifications.count>0 %>
        <span class="badge bg-theme"><%=@invites_notifications.count%></span>
            <% end %>
      </a>
      <ul class="dropdown-menu extended inbox">
        <div class="notify-arrow notify-arrow-green"></div>
        <li>
          <p class="green">You have <%=pluralize(@invites_notifications.count, "new invite")%></p>
        </li>
      <% @invites_notifications.each do |notification| %>
      <li>
          <a href="<%= notification_path("invites",notification.id) %>">
            <span class="photo"><%= image_tag "ui-zac.jpg", {alt: "avatar"} %></span>
                                    <span class="subject">
                                    <span class="from"><%= notification.league.owner.email %></span>
                                    <span class="time"><br/><%=time_ago_in_words notification.added_at %> ago</span>
                                    </span>
                                    <span class="message"><br/>
                                        I added you to <%= notification.league.name %>
                                    </span>
          </a>
        </li>
      <% end %>
      </ul>
    </li>
    <!-- inbox dropdown end -->
    <!-- notification dropdown start RESULTS-->
    <li id="header_notification_bar" class="dropdown">
      <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
        <i class="fa fa-sort"></i>
        <% if @score_notifications.count>0 %>
            <span class="badge bg-theme"><%=@score_notifications.count%></span>
        <% end %>
      </a>
      <ul class="dropdown-menu extended notification">
        <div class="notify-arrow notify-arrow-yellow"></div>
        <li>
          <p class="yellow"><%=pluralize(@score_notifications.count, "new result")%></p>
        </li>



        <% @score_notifications.each do |notification| %>
      <li>
          <a href="<%= notification_path("score",notification.id)%>">
            <%if notification.bet.score < 0 %>
            <span class="label label-danger">
            <i class="fa fa-minus"></i></span> <%= notification.bet.score %> points
          <%else%>
            <span class="label label-success">
            <i class="fa fa-plus"></i></span>  <%= notification.bet.score %> points
          <%end%>
            <span class="small italic"><%=time_ago_in_words notification.added_at %> ago</span>
            <br/> Game:<br/><%= notification.bet.game.team1_name%> <br/> vs <br/> <%=notification.bet.game.team2_name %>
            <br/>
            League: <%= notification.bet.league.name%>
          </a>
        </li>
        <% end %>
      </ul>
    </li>
    <!-- notification dropdown end -->
  </ul>
  <!--  notification end -->
</div>
<% end %>