<p id="notice"><%= notice %></p>

<p>
  <strong>Team1 name:</strong>
  <%= @game.team1_name %>
</p>

<p>
  <strong>Team2 name:</strong>
  <%= @game.team2_name %>
</p>

<p>
  <strong>Team1 goals:</strong>
  <%= @game.team1_goals %>
</p>

<p>
  <strong>Team2 goals:</strong>
  <%= @game.team2_goals %>
</p>

<p>
  <strong>Time:</strong>
  <%= @game.time %>
</p>

<p>
  <strong>Championship:</strong>
  <%= @game.championship %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
