<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<meta name="description" content="">-->
  <!--<meta name="author" content="Dashboard">-->
  <!--<meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">-->
  <!--<link rel="shortcut icon" href="http://alvarez.is/demo/dashio/favicon.png">-->
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'theme/jquery-1.8.3.min', 'data-turbolinks-track' => true %>
  <title>Be&f</title>
</head>

<body>

<section id="container" <% if !user_signed_in? %> class="sidebar-closed" <%end%>>
<!-- **********************************************************************************************************************************************************
TOP BAR CONTENT & NOTIFICATIONS
*********************************************************************************************************************************************************** -->
<!--header start-->
<header class="header black-bg">
  <% if user_signed_in? %>
<div class="sidebar-toggle-box">
  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
</div>
      <% end %>
<!--logo start-->
<a href="<%= root_path %> " class="logo"><b>BE<span>&F</span></b></a>
<!--logo end-->

  <%= render 'notifications/notificationcenter' %>

  <div class="top-menu">
  <ul class="nav pull-right top-menu">
    <% if user_signed_in? %>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "logout") %></li>
    <% else %>
        <li><%= link_to('Log in', new_user_session_path, class: "logout") %></li>
        <li><%= link_to('Sign Up', "/users/sign_up", class: "logout") %></li>
    <% end %>
  </ul>
</div>
</header>
<!--header end-->

<!-- **********************************************************************************************************************************************************
MAIN SIDEBAR MENU
*********************************************************************************************************************************************************** -->
<!--sidebar start-->
  <% if user_signed_in? %>
<aside>
  <div id="sidebar"  class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">

      <p class="centered"><a href="<%= user_profile_path(current_user.nil? ? 1 : current_user.id)%>">
        <% if user_signed_in? && current_user.image? %>
            <%= image_tag current_user.image, {class: "img-circle", width: "80", height: "80"} %>
        <% else %>
            <%= image_tag "ui-sam.jpg", {class: "img-circle", width: "80"} %>
        <% end %>
      </a></p>
      <h5 class="centered">
        <% if user_signed_in? %>
            <%= current_user.name.nil? ? current_user.email : current_user.name %>
        <% else %>
            Sam Soffes
        <% end %>
      </h5>

      <li class="mt">
        <%= link_to raw(("<i class='glyphicon glyphicon-home'></i>")+"<span>Home</span>"), root_path%>


      </li>

      <%= render 'leagues/myleagues' %>

      <!--
      <li class="sub-menu">
        <a href="javascript:;" >
          <i class="fa fa-desktop"></i>
          <span>UI Elements</span>
        </a>
        <ul class="sub">
          <li><a  href="general.html">General</a></li>
          <li><a  href="buttons.html">Buttons</a></li>
          <li><a  href="panels.html">Panels</a></li>
          <li><a  href="font_awesome.html">Font Awesome</a></li>
        </ul>
      </li>

      <li class="sub-menu">
        <a href="javascript:;" >
          <i class="fa fa-cogs"></i>
          <span>Components</span>
        </a>
        <ul class="sub">
          <li><a  href="grids.html">Grids</a></li>
          <li><a  href="calendar.html">Calendar</a></li>
          <li><a  href="gallery.html">Gallery</a></li>
          <li><a  href="todo_list.html">Todo List</a></li>
          <li><a  href="dropzone.html">Dropzone File Upload</a></li>
          <li><a  href="inline_editor.html">Inline Editor</a></li>
          <li><a  href="file_upload.html">Multiple File Upload</a></li>
        </ul>
      </li>
      <li class="sub-menu">
        <a href="javascript:;" >
          <i class="fa fa-book"></i>
          <span>Extra Pages</span>
        </a>
        <ul class="sub">
          <li><a  href="blank.html">Blank Page</a></li>
          <li><a  href="login.html">Login</a></li>
          <li><a  href="lock_screen.html">Lock Screen</a></li>
          <li><a  href="profile.html">Profile</a></li>
          <li><a  href="invoice.html">Invoice</a></li>
          <li><a  href="pricing_table.html">Pricing Table</a></li>
          <li><a  href="faq.html">FAQ</a></li>
          <li><a  href="404.html">404 Error</a></li>
          <li><a  href="500.html">500 Error</a></li>
        </ul>
      </li>
      <li class="sub-menu">
        <a href="javascript:;" >
          <i class="fa fa-tasks"></i>
          <span>Forms</span>
        </a>
        <ul class="sub">
          <li><a  href="form_component.html">Form Components</a></li>
          <li><a  href="advanced_form_components.html">Advanced Components</a></li>
          <li><a  href="form_validation.html">Form Validation</a></li>
        </ul>
      </li>
      <li class="sub-menu">
        <a href="javascript:;" >
          <i class="fa fa-th"></i>
          <span>Data Tables</span>
        </a>
        <ul class="sub">
          <li><a  href="basic_table.html">Basic Table</a></li>
          <li><a  href="responsive_table.html">Responsive Table</a></li>
          <li><a  href="advanced_table.html">Advanced Table</a></li>
        </ul>
      </li>
      <li>
        <a  href="inbox.html">
          <i class="fa fa-envelope"></i>
          <span>Mail </span>
          <span class="label label-theme pull-right mail-info">2</span>
        </a>
      </li>
      <li class="sub-menu">
        <a href="javascript:;" >
          <i class=" fa fa-bar-chart-o"></i>
          <span>Charts</span>
        </a>
        <ul class="sub">
          <li><a  href="morris.html">Morris</a></li>
          <li><a  href="chartjs.html">Chartjs</a></li>
          <li><a  href="flot_chart.html">Flot Charts</a></li>
          <li><a  href="xchart.html">xChart</a></li>
        </ul>
      </li>
      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-comments-o"></i>
          <span>Chat Room</span>
        </a>
        <ul class="sub">
          <li><a  href="lobby.html">Lobby</a></li>
          <li><a  href="chat_room.html"> Chat Room</a></li>
        </ul>
      </li>
      <li>
        <a href="google_maps.html" >
          <i class="fa fa-map-marker"></i>
          <span>Google Maps </span>
        </a>
      </li>
-->
    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>
<% end %>
<!--sidebar end-->

<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content" style="padding-bottom: 40px;<% if !user_signed_in? %> margin-left: 0px <%end%>">
  <section class="wrapper">


        <%= content_for?(:content) ? yield(:content) : yield %>

    <! --/row -->
  </section>

</section>

<!--main content end-->
<!--footer start-->
<footer style="position: fixed; bottom: 0px; width: 100%;" class="site-footer">
  <div class="text-center">
    2014 - <a href="https://www.icloud.com/keynote/AwBWCAESEB1YQLMV0Ib91HdYLRjhTUoaKudsT-SZIrKDmHV5GyGFjbNW6-dO4y5gbeWxp8zR5d01xSZHMkv4rhIJdgMCUCAQEEIJXMn5xytFYJpFifkCA-06JR6oNrpP17aSjDqJx48ryZ#beef-final.key">beef.com</a>
    <a href="#" class="go-top">
      <i class="fa fa-angle-up"></i>
    </a>
  </div>
</footer>
<!--footer end-->
</section>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
