<!DOCTYPE html>
<html>
<head>
  <title>Beef</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--<div class="page-wrapper">-->
<header class="header-11"> <!--bg-midnight-turquoise-->
  <!--<div class="navbar navbar-default navbar-static-top bg-turquoise">
    <div class="container">
      <div class="navbar" role="navigation">
        <div>
          <!--<button type="button" class="navbar-toggle"></button>-->
  <!-- <a class="brand" href="#"><img src="img/logo@2x.png" width="50" height="50" align="middle" alt="logo"></a>-->
  <!--</div>
  <div class="navbar-header">
    <h3>Be&f</h3>
  </div>
  <p><br></p>
  <div class="collapse navbar-collapse pull-right">
    <ul style="list-style-type:none" class="list-inline"> <!--class=" pull-left">-->
            <!--<li class="active"><a href="/">HOME</a></li>
            <li ><a href="/leagues">Leagues</a></li>
            <% if not user_signed_in? %>
                <li><%= link_to "Sign in", new_session_path(resource_name) %></li>
                <li><%= link_to "Sign up", new_registration_path(resource_name) %></li>
                <!--<li><a href="#fakelink" class="btn btn-xs btn-inverse">Sign in</a></li>
                <li><a href="#fakelink" class="btn btn-xs btn-inverse">Sign up</a></li>-->
            <% end %>
                <!--<li><% if user_signed_in? %><%= link_to "Sign out", destroy_user_session_path, :method => :delete %><% end %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>-->

  <div class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <%= link_to "Be&f", root_path, class: "navbar-brand" %>
        <!--<a class="navbar-brand" href="#">Be&f</a>-->
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to "Home", root_path %></li>
          <% if user_signed_in? %>
            <li><a href="#leagues">Leagues</a></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if not user_signed_in? %>
              <li><%= link_to "Sign in" %></li>
              <li><%= link_to "Sign up" %></li>
              <!--<li><a href="#fakelink" class="btn btn-xs btn-inverse">Sign in</a></li>
              <li><a href="#fakelink" class="btn btn-xs btn-inverse">Sign up</a></li>-->
          <% end %>
          <li><% if user_signed_in? %><%= link_to "Sign out", destroy_user_session_path, :method => :delete %><% end %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</header>

<!--
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="#">Flat UI</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../navbar/">Default</a></li>
        <li class="active"><a href="./">Static top</a></li>
        <li><a href="../navbar-fixed-top/">Fixed top</a></li>
      </ul>
    </div>
  </div>
</div>-->

<%= content_for?(:content) ? yield(:content) : yield %><!-- footer-2 -->




</body>
</html>
